<div class="calculator-grid">
  <div class="output">
    <div class="previous-operand">{{ inputData }}</div>
    <div class="current-operand">{{ result }}</div>
  </div>
  <button (click)="insertOperator('clear')" class="span-two">AC</button>
  <button>DEL</button>
  <button (click)="insertOperator('divide')">÷</button>
  <button (click)="insertChar(1)">1</button>
  <button (click)="insertChar(2)">2</button>
  <button (click)="insertChar(3)">3</button>
  <button (click)="insertOperator('multiply')">*</button>
  <button (click)="insertChar(4)">4</button>
  <button (click)="insertChar(5)">5</button>
  <button (click)="insertChar(6)">6</button>
  <button (click)="insertOperator('plus')">+</button>
  <button (click)="insertChar(7)">7</button>
  <button (click)="insertChar(8)">8</button>
  <button (click)="insertChar(9)">9</button>
  <button (click)="insertOperator('minus')">-</button>
  <button (click)="insertChar('.')">.</button>
  <button (click)="insertChar(0)">0</button>
  <button (click)="solution()" class="span-two">=</button>
</div>

